@import "../../styles/index.scss";

$tol : 1rem;

.menu{
    margin: 0 $tol;
    width: 10%;
    // border: 1px solid red;
    .basic-button{
        background-color: $back1 !important;
        cursor: pointer;
        @include center-center();
        padding: $tol / 2;
        border-radius: $tol / 2;
        width: 100%;
        padding-bottom: 100%;
        margin: $tol 0;
        position: relative;
        img{
            width: 60%;
            height: auto;
            position: absolute;
            top: 20%;
            // display: none;
            transition: filter 0.5s;
            &:hover{
                filter: brightness(0) invert(1);  
            }
        }
    }
}
